In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
689,tt0831887,60000000,39031337,The Spirit,Gabriel Macht|Scarlett Johansson|Samuel L. Jac...,Frank Miller,I'm gonna kill you all kinds of dead.,Down these mean streets a man must come. A her...,103,Action|Comedy|Thriller|Crime|Science Fiction,DC Comics|Lionsgate|Odd Lot Entertainment|Medi...,12/25/2008,4.6,2008
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010
1146,tt0306841,17000000,55534455,The Lizzie McGuire Movie,Hilary Duff|Adam Lamberg|Hallie Todd|Robert Ca...,Jim Fall,The only risk in taking an adventure is not ta...,Lizzie McGuire has graduated from middle schoo...,94,Comedy|Adventure|Family,Walt Disney Pictures,4/25/2003,5.8,2003
368,tt1053859,5000000,38610009,The Grudge 3,Johanna Braddy|Gil McKinney|Emi Ikehata|Jadie-...,Toby Wilkins,You can't escape the curse.,"Jake, the sole survivor of The Grudge 2 massac...",90,Horror|Thriller,Ghost House Pictures|Ozla Pictures|Stage 6 Films,5/12/2009,5.4,2009
1571,tt0377092,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,6.8,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [13]:
answers = {} # создадим словарь для ответов

data_profit = pd.read_csv('movie_bd_v5.csv')       #создаем новый датафрейм с колонкой 'прибыль'
data_profit['profit'] = data_profit['revenue'] - data_profit['budget'] #прибыль = сборы - бюджет

data_with_date = data['date_list'] = data['release_date'].str.split('/').copy()   #датафрейм с разделенным числом на дни, месяцы и годы
data_with_date= data['date_list'].apply(lambda x: pd.Series(x,  index=['month', 'day', 'year']))
data_with_date = data.assign(**data_with_date.to_dict(orient='series'))


""""""Фукция, которя разбивает значения в колонках датафрем на список и расширяет датафрейм на Series по заданной колонке""""""
def column_expand(data, column, sep='|', keep=False):
    indexes = list()
    new_values = list()
    data = data.dropna(subset=[column])
    for i, presplit in enumerate(data[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = data.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [39]:
 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data_budget = data[(data['budget'] == data['budget'].max())]
data_budget['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [40]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [8]:
data[(data['runtime'] == data['runtime'].max())].original_title.iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [41]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  #+

In [12]:
data_min = data[(data['runtime'] == data['runtime'].min())]
data_min['original_title'].iloc[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [42]:
answers['4'] = '110' #+

In [14]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [43]:
answers['5'] = '107' #+

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [44]:
answers['6'] = 'Avatar (tt0499549)'   #+

In [25]:
data_profit = pd.read_csv('movie_bd_v5.csv')       #создаем новый датафрейм с колонкой 'прибыль'
data_profit['profit'] = data_profit['revenue'] - data_profit['budget'] #прибыль = сборы - бюджет

data_profit.sort_values(['profit'], ascending = False).original_title.iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [45]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

In [26]:
data_profit.sort_values(['profit']).original_title.iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [46]:
answers['8'] = '1478'   #+

In [23]:
data[data['revenue'] > data['budget']].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [47]:
answers['9'] = 'The Dark Knight (tt0468569)'   #+

In [24]:
data[data['revenue'] == data[data['release_year'] == 2008].revenue.max()].original_title.iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
answers['10'] = 'The Lone Ranger (tt1210819)'   #+

In [27]:
data_profit[data_profit.profit == data_profit[(data_profit.release_year >= 2012) & \
                            (data_profit.release_year <= 2014)].profit.min()].original_title.iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [49]:
answers['11'] = 'Drama'   #-

In [28]:
data11 = data.genres.apply(lambda x:x.split(sep = '|')).explode().value_counts().head(1)
data11

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [50]:
data111 = data['genres_list'] = data['genres'].str.split('|')
data111 = data.explode('genres_list')
data111['genres_list'].value_counts(ascending=False).head(1)

Drama    782
Name: genres_list, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [51]:
answers['12'] = 'Drama'   #-

In [53]:
data12 = data_profit.copy()
data12['genres_list'] = data12['genres'].str.split('|')
data12 = data12.explode('genres_list')
data122 = data12[(data12.profit > 0)]
data123 = data122['genres_list']
data123.value_counts(ascending=False).head(1)

Drama    560
Name: genres_list, dtype: int64

ВАРИАНТ 2

In [56]:
data12 = data_profit[data_profit.profit > 0].genres.apply(lambda x:x.split(sep = '|')).explode().value_counts()
data12.head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [52]:
answers['13'] = 'Peter Jackson'   #+

In [64]:
data_director_max = data['director_list']=data['director'].apply(lambda x: x.split('|'))
data_director_max = data.explode('director_list')
data13 = data_director_max.groupby(['director_list'])['revenue'].sum()
data13.sort_values(ascending=False).head(1)

director_list
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [53]:
answers['14'] = 'Robert Rodriguez'   #+

In [12]:
only_action = data[data.genres.str.contains('Action')]
director_list = only_action['director'].str.cat(sep='|').split('|')

Counter(director_list).most_common(1)

[('Robert Rodriguez', 9)]

ВАРИАНТ 2

In [13]:
only_action = data[data.genres.str.contains('Action')].copy()
only_action['director'] = only_action['director'].str.split('|')
only_action = only_action.explode('director')
only_action.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

ВАРИАНТ 3

In [19]:
data_x = data[data['genres'].str.contains('Action', na=False)].copy()
data4 = data_x['genres'].str.cat(sep='|')
data_x['Action_genres'] = pd.Series(data4.split('|'))
data5 = data_x.explode('Action_genres')
data5['director_list']=data5['director'].apply(lambda x: x.split('|'))
data6 = data5.explode('director_list')
data6['director_list'].value_counts().head(1)

Robert Rodriguez    9
Name: director_list, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [54]:
answers['15'] = 'Chris Hemsworth'   #+

In [21]:
data2012 = data[(data['release_year']== 2012)]
data2012 = data2012[['cast', 'revenue', 'original_title']]
data2012 = data2012.sort_values(['revenue'], ascending=False).copy()
data2012['cast'] = data2012['cast'].str.split('|')
data2012 =  data2012.explode('cast')
data2012 = data2012.groupby(['cast'])['revenue'].sum()
data2012.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [55]:
answers['16'] = 'Matt Damon'   #+

In [28]:
result = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
print(result)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [56]:
answers['17'] = 'Action'   #+

In [30]:
data17 = data['cast_list'] = data['cast'].apply(lambda x: x.split('|')).copy()
data17 = data.explode('cast_list')
data17 = data17[(data17['cast_list'] == 'Nicolas Cage')].copy()
data17['genres_list'] = data17['genres'].apply(lambda x: x.split('|'))
data17 = data17.explode('genres_list')
data17 = data17['genres_list']
Counter(data17).most_common()[0]

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [57]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'   #+

In [5]:
data_paramount = data_profit[data_profit.production_companies.str.contains("Paramount Pictures")]
data_paramount[data_paramount['profit'] == data_paramount['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [58]:
answers['19'] = '2015'   #+

In [4]:
data_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
data_year.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [59]:
answers['20'] = '2014'   #+

In [6]:
data_warner = data_profit[data_profit.production_companies.str.contains("Warner Bros")]
data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
answers['21'] = 'Сентябрь'   #+

In [9]:
data_with_date = data['date_list'] = data['release_date'].str.split('/').copy()
data_with_date= data['date_list'].apply(lambda x: pd.Series(x,  index=['month', 'day', 'year']))
data_with_date = data.assign(**data_with_date.to_dict(orient='series'))
data_with_date['month'].value_counts().index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [61]:
answers['22'] = '450'   #+

In [11]:
data_month = data_with_date['month'].value_counts()
data_month[['6','7','8']].sum()

450

ВАРИАНТ 2

In [12]:
len(data_with_date.loc[data_with_date['month'].isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [62]:
answers['23'] = 'Peter Jackson'   #+

In [14]:
data_directors = column_expand(data_with_date, 'director', sep='|')   #column_expand функция разбила колонку directors и создала новый датафрейм
data_directors = data_directors.query('month in ["12","1","2"]')
data_directors['director'].value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

ВАРИАНТ 2

In [18]:
data_directors = column_expand(data_with_date, 'director', sep='|')
data_directors[data_directors.month.isin(['12','1','2'])].director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [63]:
answers['24'] = 'Four By Two Productions'   #+

In [21]:
data_len = column_expand(data, 'production_companies', sep='|')
data_len['title_length'] = data['original_title'].apply(len)
data_len.groupby(['production_companies'])['title_length'].median().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [64]:
answers['25'] = 'Midnight Picture Show'   #+

In [24]:
data25 = data.copy()
data25['total_words'] = data25.overview.apply(lambda x: len(x.split(' ')))
data25['production_companies_list'] = data25['production_companies'].str.split('|')
data25_2 = data25.explode('production_companies_list')
data25_2.groupby(['production_companies_list'])['total_words'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'   #+

In [28]:
percent = data.copy()
data_q = percent["vote_average"].quantile(0.99)
display(data_q)
data26 = percent[percent["vote_average"] > 7.8].original_title.sort_values()
data26

7.8

1191                                 12 Years a Slave
128                                         Gone Girl
119                           Guardians of the Galaxy
370                                         Inception
9                                          Inside Out
118                                      Interstellar
1800                                          Memento
34                                               Room
599                                   The Dark Knight
138                          The Grand Budapest Hotel
125                                The Imitation Game
1081    The Lord of the Rings: The Return of the King
872                                       The Pianist
1183                          The Wolf of Wall Street
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = ''

In [30]:
import pandas as pd
import collections
from itertools import combinations 

sequences =(data['cast'])
def subsequence_counts_2(sequences):
    counts = Counter()
    for sequence in sequences:
        input = "".join(sequence)
        for j in range(1,len(input)+1):
            counts.update(input[i:i+j] for i in range(len(input)-(j-1)))
    return counts
data.copy()
data['cast11'] = data['cast'].apply(lambda x:x.split(sep = '|'))
data['pairs'] = data['cast'].apply(lambda:subsequence_counts_2(sequences), 2)
data = data.explode('pairs')
#collections.Counter(data['pairs']).most_common(1)

TypeError: <lambda>() takes 0 positional arguments but 1 was given

ВАРИАНТ 2

In [32]:
import pandas as pd
import collections
data.copy()
data['cast11'] = data['genres'].apply(lambda x:x.split(sep = '|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: s.count(combinations, 2))
data = data.explode(['pairs'])
collections.Counter(data['pairs']).most_common(1)

TypeError: must be str, not type

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ''}

In [68]:
# и убедиться что ни чего не пропустил)
len(answers)

27